header{
  background-image: url(../img/background.jpg);
  background-image: opacity(3);
}

/* SECTION IMAGES AVEC LIEN */
main{
    padding-top: 20px;
    margin:24px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

main .a-img{
    max-width: 100%;
    margin: 0 5px 0 5px;
    height:auto;

}


/* L EFFET HOVER SUR IMAGE */
  /* le texte */
  .a-txt{
    
    display: none;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    text-align: left;
    font-size: 3vw;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.705);
    letter-spacing: 10pt;
    padding: 10% 10% 0% 10%;
  }
  
 .a-img-txt:hover > p{
     transition:all 1s;
     display: initial;
 }
  
  .a-img-txt:hover > img{
    transition:all 1s;
    filter: blur(3px);
    opacity: 0.5;
    overflow: hidden;
}

  .a-img-txt{
    position: relative;
    text-decoration:none;
    margin-bottom: 25px;
    width: 48%;
  }

  .a-img{
    transition-duration: 0.5s;
  }

  @media screen and (max-width: 900px){
    .a-img-txt{
      width: 100%;
    }

  }