/*
Affichage sections
*/
section {
    padding-top: 50px;
    height: 100vh;
    opacity: 0;
    transition : all 1000ms ease-in;
}

section div{
    padding-bottom: 100px;
}

.js-section-animate {
    opacity: 1;
}