/* THEME COULEURS*/
:root{
    --main-bg-color: #d1cadac5;
    --background-color:#221c2e;
    --gris-violet : #352f44;
    --clair:#fcf;
}

/*Pour faciliter le responsive a dit Mano*/
*,
*::after,
*::before {
    box-sizing: border-box;
}

/*Pas de bord dégolasse*/
*{
  margin: 0;
  padding: 0;
}

/* BACKGROUND */
html{
    background-color: var(--background-color);
}

/*HEADER*/
/*Parallaxe Image Fond <3 */
header{

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/*textes Header*/
header h1{
  text-align: center;
  letter-spacing: 8pt;
  padding-top: 30vh;
  font-size: 4vw;
}

#myName{
  color: var(--background-color);
}

header h2{
  text-align: center;
  letter-spacing: 8pt;
  font-size: 3vw;
  color: var(--clair);
}

/*BOUTONN HOME*/
#home {
  letter-spacing: 15px;
  text-align: center;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.733);
  position: fixed;
  left: 5%;
  top: 5%;
  border-radius: 5pt;
}

header a {
  text-decoration: none;
  letter-spacing: 10px;
  color: rgba(255, 255, 255, 0.815);
  font-size: 20pt;
}

#home:hover{
  transition:all 1s;
  background-color: rgba(165, 165, 165, 0.657);
}

/* BODY */
/*Le jouli texte*/
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
}


