/* THEME COULEURS*/
:root{
    --main-bg-color: #d1cadac5;
    --background-color:#221c2e;
    --gris-violet : #352f44;
    --clair:#fcf;
}

/* BACKGROUND */
html{
    background-color: var(--background-color);
}

/*HEADER*/
/*Parallaxe Image Fond <3 */
header{
    background-image: url(img/background.jpg);

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding : 5% 10% 20% 10%;
}

/*textes Header*/
header h1{
  letter-spacing: 8pt;
  font-size: 50px;
  color: var(--background-color);
}

header h2{
  letter-spacing: 8pt;
  font-size: 30px;
  color: var(--clair);
}

/* BODY */
/*Le jouli texte*/
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
}


