.img-hover{
    position: relative;
    text-decoration:none;
    transition-duration: 0.2s;
    width: 200px;
    margin: 10px 50px 10px 10px;
}

.img-hover:hover{
    transition:all 0.5s;
    filter: blur(3px);
    opacity: 0.5;
    overflow: hidden;
}

body{
    display: flex;
    font-family:  'Lucida Sans Unicode', monospace;
}

#menu{
    width: 80%;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 30px;
}

h3{
    font-size : 26px;
}

a{
    text-decoration: none;
    font-size: 20px;
}

a:hover{
    color: rgb(73, 73, 73);
}