/* 
THEME COULEUR :
#352f44 : gris violet foncé
#2a2438 : gris violet plus foncé
#411e8f : violet
#310a5d : violet foncé

*/
html{
    background-color: #221c2e;
}

/*HEADER*/
header{
    background-image: url(img/background.jpg);

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding : 10% 10% 20% 10%;
}

h1{
    letter-spacing: 8pt;
    margin: auto;
}

body{
    font-family : Arial, Helvetica, sans-serif;
    color: #28193ac5;
}
