header{
  background-image: url(../img/nav_info.jpg);
}

header h1, header h2{
    color: var(--clair);
    text-align: right;
    margin-right: 10vh;
}

main h1{
  font-weight: 100;
  letter-spacing: 10pt;
  font-size:4vw;
  margin: 0 0 2vh 0;
}


section p, main h2{
  text-align: left;
}

main h2, main p{
  margin: 2vh 1vw 2vh 1vw;
}

.txt{
background-color: rgba(88, 88, 88, 0.274);
width: 25vw;
}

section{
  margin: 8vh 10vw 0 10vw;
  display: flex;
  justify-content: center;
}