.img-hover{
    position: relative;
    text-decoration:none;
    transition-duration: 0.2s;
    width: 200px;
    margin: 10px 50px 10px 10px;
}

.img-hover:hover{
    transition:all 0.5s;
    filter: blur(3px);
    opacity: 0.5;
    overflow: hidden;
}

body{
    display: flex;
}